extends layout

block content
  h1 File Metadata Service
  p Upload a file to see it's size. Max 10MB.
  form(action="/upload", method="post", enctype="multipart/form-data")
    input(type="file", name="userFile", id="fileInput")
    input(type='submit', value="upload")

  script(src=scriptsSrc)
